article.references
  h1= title
  for reference in references
      section.reference(data-id=reference.attributes._id)
        a(href="/references/#{reference.attributes.slug}", title="Show more details about this reference")
          h1= reference.attributes.name
          p.short
            | Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it?
        h2
          span.icon.icon-tag
          | Tagged with:
        ul.tags
          for tag in reference.attributes.tags
            li(class="tag")
              if typeof(selectedTag) == 'undefined'
                a(href="/references/tags/#{tag}", title="Show all references tagged with »#{tag}«")= tag
              else
                if tag == selectedTag
                  = tag
                else
                  a(href="/references/tags/#{tag}")= tag
aside
  p Some aside content…
